.header{
    font-family: 'Encode Sans SC', sans-serif;
    color: orange;

}
body{
    margin:0;
}
.section-container{
    display: flex;
    margin-bottom: 100px;
}
p{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 25px;
    text-align: justify;

}
.section-divider h1{
    font-size: 50px;
    margin-left: 30px;
    line-height: 25px;
}
.section-divider{
    margin: 0;
    width: 100%;
    display: flex;
}
.section-divider img{
    margin-left: 100px;
    width: 70%;
}
.button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 35px;
    padding: 20px 30px;
    
}
.background-picture{
background-image: url(images/shapes/Frame\ 57.jpg);   
background-size: 100%;
background-repeat: no-repeat;

}
.food-section{
    display: flex;
    padding: 10px;
    background-color:white;
}


.food-section p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    
}

    
.food-header{

  margin-left: 15%;
    display: flex;
    text-align: center;
    width: 50%;
}
.food-item{
    margin-top: 20px;
    background: cornsilk;
    margin: 10px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    color: darkgreen;
    position: relative;
    line-height: normal;
    border-radius: 10px;
    box-shadow:10px 10px 40px grey;
}
.food-item h3{
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food-item p{
    text-align: justify;
    font-size: 20px;
}
.food-image img{
    width: 300px;
    height: 200px;
    border-radius: 10px;

}
.plan-title{
    text-align: center;
}
.footer-section{
    background-color: gray;
    padding: 20px;
    text-align: center;
}
.food{
    text-align: center;
   
}
.food h1{
    color: teal;
    font-size: 40px;
}
.food h3{
    font-size: 25px;
}
.member{
  
    margin-left:  25px;
    margin-right: 25px;
    margin-bottom: 100px;
    padding: 40px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
  
    
}


.div{
    display: flex;
}
.div h1{
    text-align: center;
    margin-left: 0;

}
.member-div h1{
    margin-left: 0;
}
.member-div p{
    margin-left: 0;
    text-align:center ;
    font-size: 25px;
    
}
#left{
margin-left: 15px;
    width: 33.33%;
}
#mid{
    margin-left: 15%;
    width: 33.33%;
}
#right{
    margin-left: 15%;
    width: 33.33%;
}
